.banner-promotion {
  padding: 28px 19px 0 19px;
  color: $txt-contr-color;
  background-color: $main-bg-color;
  background-image: url("../img/index-background-mobile@1x.jpg");
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: 100% 63.5%;
}

.banner-promotion__header {
  margin: 0;
  padding: 0 16px;
  margin-bottom: 24px;

  @include font-header(36px, 36px);
  text-align: center;
}

.banner-promotion__appeal {
  margin: 0;
  padding: 0 16px;
  margin-bottom: 27px;

  @include font-header(14px, 14px);
  text-transform: uppercase;
  text-align: center;
}

.banner-promotion__image {
  width: 280px;
  height: 280px;
  margin-bottom: -7px;
}

@media (min-width: $tablet-width) {
  .banner-promotion {
    position: relative;
    z-index: 0;
    padding: 35px 230px 530px 115px;
    color: $txt-header-color;
    background-color: transparent;
    background-image: none;
  }

  .banner-promotion__header {
    padding: 0;
    margin-bottom: 40px;

    @include font-header(60px, 60px);
    text-align: left;
  }

  .banner-promotion__appeal {
    padding: 0;
    margin-bottom: 48px;

    @include font-header(20px, 20px);
    text-align: left;
  }

  .banner-promotion__image {
    position: absolute;
    z-index: -1;
    top: 235px;
    left: 70px;
    width: 709px;
    height: 609px;
  }

  .banner-promotion__show-programs {
    display: inline-block;
    width: auto;
    padding: 15px 26px;

    @include font-header(20px, 20px);
  }
}

@media (min-width: $desktop-width) {
  .banner-promotion {
    margin-top: -165px;
    padding: 225px 700px 191px 120px;
    background-image: url("../img/index-background-desktop@1x.jpg");
    background-repeat: no-repeat;
    background-position: 111.7%;
    background-size: auto;
  }

  .banner-promotion__appeal {
    margin-bottom: 53px;
  }

  .banner-promotion__image {
    z-index: 1;
    top: 145px;
    left: 490px;
    width: 552px;
    height: 499px;
  }
}
