.banner-present {
  display: flex;
  flex-flow: column;
  align-items: center;
  width: 280px;
  height: 289px;
  padding: 65px 60px 40px 60px;
  background-image: url("../img/gift-photo-mobile@1x.jpg");
  background-position: 0 0;
  background-repeat: no-repeat;
}

.banner-present__image {
  width: 56px;
  height: 61px;
  margin-bottom: auto;
}

.banner-present__appeal {
  text-align: center;
  color: $txt-contr-color;
  background-color: transparent;
}
