.banner-promotion {
  padding: 29px 19px 0 19px;
  color: $txt-contr-color;
  background-color: $main-bg-color;
  background-image: url("../img/index-background-mobile@1x.jpg");
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: 100% 63.4%;
}

.banner-promotion__header {
  margin: 0;
  padding: 0 16px;
  margin-bottom: 19px;

  @include font-header(36px, 36px);
}

.banner-promotion__appeal {
  margin: 0;
  padding: 0 16px;
  margin-bottom: 29px;

  @include font-header(14px, 14px);
  text-transform: uppercase;
}

.banner-promotion__image {
  width: 280;
  height: 280;
  background-color: transparent;
}
