.block-header {
  width: 100%;
  margin: 0;
  padding: 0;
  padding-left: 20px;
  margin-bottom: 25px;
  display: flex;
  align-items: center;

  @include font-header(24px, 24px);

  &::after {
    content: "";
    margin-top: 12px;
    height: 3px;
    min-width: 10%;
    flex-grow: 2;
    margin-left: 24px;
    background-color: $button-bg-color;
  }
}

@media (min-width: $tablet-width) {
  .block-header {
    padding: 0;

    @include font-header(36px, 36px);

    &::after {
      margin-left: 39px;
    }

    &::before {
      content: "";
      margin-top: 12px;
      height: 3px;
      width: 30px;
      margin-right: 39px;
      background-color: $button-bg-color;
    }
  }
}

@media (min-width: $desktop-width) {
  .block-header {
    padding: 0;

    &::before {
      width: 71px;
    }
  }
}
