.form {
  @include font-header(16px, 18px);
  color: $txt-form-color;
  background-color: $main-bg-color;
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}

.form__block-wrapper {
  margin: 0 20px;
}

.form__legend {
  margin: 0;
  padding: 0;
  padding-left: 20px;
  width: 100%;
  margin-bottom: 34px;
}

.form__fieldset--check .form__legend {
  margin-bottom: 40px;
}

.form__description {
  padding: 0;
  margin: 0;
  padding-right: 50px;
  margin-bottom: 38px;

  @include font-header(14px, 18px);
  text-transform: uppercase;
}

.form__fieldset {
  margin: 0;
  padding: 0;
  display: flex;
  flex-flow: column;
  margin-bottom: 14px;
  width: 100%;
  border: none;

  &--border {
    padding-top: 24px;
    border-top: 1px solid $border-block-color;
    border-bottom: 1px solid $border-block-color;
    margin-bottom: 28px;
  }
}

.form__lb {
  display: flex;
  width: 100%;
  align-items: center;
  margin-bottom: 14px;
  text-transform: uppercase;
  cursor: pointer;

  &--check {
    margin-bottom: 25px;
  }

  &--check:active {
    opacity: 0.3;
  }
}

.form__text {
  flex-grow: 1;
  padding: 12px 16px;
  margin-left: 15px;
  border: 1px solid rgba($border-input-color, 0.5);
  text-transform: uppercase;

  &:hover,
  &:focus {
    border-color: $border-input-color;
  }

  &:invalid {
    border-color: $border-error-color;
  }

  &--email,
  &--tel {
    padding-right: 35px;
  }
}

.form__check {
  position: relative;
  z-index: 0;
  width: 12px;
  height: 12px;
  margin-left: 13px;
  margin-right: 20px;
  cursor: inherit;

  &::before {
    content: "";
    position: absolute;
    z-index: 1;
    background-color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30px;
    height: 30px;
    border: 1px solid $border-input-color;
  }

  &:hover::before,
  &:focus::before,
  &:active::before {
    border-color: $border-hover-color;
  }

  &:checked::after {
    content: "";
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    width: 22px;
    height: 17px;
    transform: translate(-50%, -50%);
    background-color: transparent;
    background-image: url("../img/icon-tick.svg");
    background-repeat: no-repeat;
  }

  &--radio::before {
    border-radius: 50%;
  }

  &--radio:checked::after {
    width: 12px;
    height: 12px;
    background-color: $button-bg-color;
    border-radius: 50%;
  }
}

.form__textarea {
  margin-bottom: 15px;
  width: 100%;
  height: 150px;
  padding: 15px 0 0 15px;
  border: 1px solid $border-input-color;
  text-transform: uppercase;
}

.form__submit {
  margin-bottom: 23px;
}

.form__dictionary {
  margin: 0;
  text-align: center;

  @include font-content(14px, 16px);
  color: $txt-main-color;
  background-color: transparent;
}

@media (min-width: $tablet-width) {
  .form {
    padding-top: 25px;
    margin-bottom: 18px;

    @include font-header(20px, 20px);
  }

  .form__description {
    width: 60%;
    margin-bottom: 65px;

    @include font-header(20px, 30px);
  }

  .form__lb {
    margin-bottom: 21px;

    &--check {
      width: 46%;
      margin-bottom: 30px;
    }

    &--radio {
      margin-bottom: 14px;
      width: 100%;
    }
  }

  .form__text {
    padding: 13px 16px;
  }

  .form__fieldset {
    &--border {
      margin: 40px 0;
      padding: 25px 0 10px 28px;
      border: 1px solid $border-input-color;
    }

    &--check {
      margin-bottom: 0;
    }
  }

  .form__check {
    width: 40px;
    height: 40px;
    margin: 0;
    margin-right: 20px;
    cursor: inherit;

    &::before {
      width: 40px;
      height: 40px;
    }

    &--radio:checked::after {
      width: 18px;
      height: 18px;
    }
  }

  .form__block-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 70px 30px 65px;
  }

  .form__legend {
    margin: 0;
    padding: 0;
    width: 100%;
    margin-bottom: 75px;
  }

  .form__legend br {
    display: none;
  }

  .form__textarea {
    height: 175px;
    margin-bottom: 25px;
  }

  .form__fieldset--check .form__legend {
    margin-bottom: 55px;
  }

  .form__submit {
    width: 45%;
    padding-top: 14px;
    padding-bottom: 14px;

    @include font-header(20px, 20px);
  }

  .form__dictionary {
    width: 40%;
    text-align: left;

    @include font-content(16px, 16px);
  }
}

@media (min-width: $desktop-width) {
  .form__block-wrapper {
    margin: 0 110px;
  }

  .form__description {
    width: 100%;

    @include font-header(16px, 18px);
  }

  .form__lb--radio {
    width: 100%;
  }

  .form__block-wrapper > fieldset {
    width: 45%;
  }

  .form__block-wrapper > .form__lb {
    width: 45%;
  }

  .form__lb--check:not(.form__lb--radio) {
    width: 25%;
  }

  .form__dictionary {
    width: 50%;
    margin-top: 15px;
    text-align: left;
  }
}
