.form {
  @include font-header(16px, 18px);
  color: $txt-form-color;
  background-color: $main-bg-color;
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}

.form__description {
  margin: 0;
  margin-bottom: 38px;
  padding: 0 50px 0 20px;

  @include font-header(14px, 18px);
  text-transform: uppercase;
}

.form__fieldset {
  margin: 0;
  padding: 0;
  display: flex;
  flex-flow: column;
  width: 100%;
  border: none;

  &--cat {
    margin-bottom: 14px;
    padding: 0 20px;
  }

  &--programm {
    margin-bottom: 30px;
    border-top: 1px solid $border-block-color;
    border-bottom: 1px solid $border-block-color;
    padding: 0 20px;
  }

  &--contacts {
    margin-bottom: 15px;
  }

  &--comment {
    margin-bottom: 12px;
  }

  &--extra-goods {
    margin-bottom: 15px;
  }
}

.form__list-radio {

}

.form__legend {
  margin: 0;
  padding: 0;
  padding-left: 20px;
  width: 100%;

  &--contacts {
    margin-bottom: 34px;
  }

  &--comment {
    margin-bottom: 34px;
  }

  &--extra-goods {
    margin-bottom: 18px;
  }
}

.form__block-wrapper {
  padding: 0 20px;
}


.form__label {
  display: flex;
  width: 100%;
  align-items: center;
  margin-bottom: 14px;
  text-transform: uppercase;
  cursor: pointer;
}

.form__text-in {
  flex-grow: 1;
  padding: 12px 16px;
  margin-left: 15px;
  border: 1px solid rgba($border-input-color, 0.5);
  text-transform: uppercase;

  &:hover,
  &:focus {
    border-color: $border-input-color;
  }

  &:invalid {
    border-color: $border-error-color;
  }

  &--email,
  &--tel {
    padding-right: 35px;
  }
}

.form__textarea {
  margin-bottom: 15px;
  width: 100%;
  height: 150px;
  padding: 15px 0 0 15px;
  border: 1px solid $border-input-color;
  text-transform: uppercase;
}

.form__submit {
  margin-bottom: 23px;
}

.form__dictionary {
  margin: 0;
  text-align: center;

  @include font-content(14px, 16px);
  color: $txt-main-color;
  background-color: transparent;
}

@media (min-width: $tablet-width) {
  .form {
    padding-top: 25px;
    margin-bottom: 18px;

    @include font-header(20px, 20px);
  }

  .form__description {
    width: 60%;
    margin-bottom: 65px;

    @include font-header(20px, 30px);
  }

  .form__text-in {
    padding: 13px 16px;
  }

  .form__fieldset {
    &--programm {
      margin: 40px 0;
      padding: 25px 0 10px 28px;
      border: 1px solid $border-input-color;
    }

    &--extra-goods {
      margin-bottom: 0;
    }
  }

  .form__block-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 70px 30px 65px;
  }

  .form__legend {
    margin: 0;
    padding: 0;
    width: 100%;
    margin-bottom: 75px;
  }

  .form__legend br {
    display: none;
  }

  .form__textaria {
    height: 175px;
    margin-bottom: 25px;
  }

  .form__submit {
    width: 45%;
    padding-top: 14px;
    padding-bottom: 14px;

    @include font-header(20px, 20px);
  }

  .form__dictionary {
    width: 40%;
    text-align: left;

    @include font-content(16px, 16px);
  }
}

@media (min-width: $desktop-width) {
  .form__block-wrapper {
    margin: 0 110px;
  }

  .form__description {
    width: 100%;

    @include font-header(16px, 18px);
  }

  .form__dictionary {
    width: 50%;
    margin-top: 15px;
    text-align: left;
  }
}
