.page-main {
  background-color: inherit;
}

.page-main__header {
  margin: 0;
  padding: 15px 19px 28px 22px;

  @include font-header(36px, 60px);
  color: $txt-header-color;
  background-color: inherit;
}

.page-main__banner {
  margin-bottom: 19px;
}

.page-main__programs {
  margin-bottom: 15px;
}

.page-main__advantages {
  margin-bottom: 42px;
}

@media (min-width: $tablet-width) {
  .page-main__header {
    padding: 0 30px;

    @include font-header(60px, 60px);
  }

  .page-main__banner {
    margin-bottom: 0;
  }

  .page-main__programs {
    margin-bottom: 46px;
  }

  .page-main__advantages {
    margin-bottom: 27px;
  }

  .page-main__form {
    padding: 0;
  }
}

@media (min-width: $desktop-width) {
  .page-main__header {
    padding: 0 110px;
  }

  .page-main__banner {
    margin-bottom: 80px;
  }

  .page-main__programs {
    margin-bottom: 74px;
  }

  .page-main__advantages {
    margin-bottom: 160px;
  }
}
