.page-main {
  background-color: inherit;
}

.page-main__header {
  margin: 0;
  padding: 12px 22px 25px 22px;

  @include font-header(36px, 60px);
  color: $txt-header-color;
  background-color: inherit;
}

.page-main__banner {
  margin-bottom: 20px;
}

.page-main__programs {
  margin-bottom: 30px;
}

.page-main__advantages {
  margin-bottom: 42px;
}

.page-main__form {
  padding: 0 20px;
}

@media (min-width: $tablet-width) {
  .page-main__banner {
    margin-bottom: 0;
  }

  .page-main__programs {
    margin-bottom: 45px;
  }

  .page-main__advantages {
    margin-bottom: 27px;
  }
}

@media (min-width: $desktop-width) {
  .page-main__banner {
    margin-bottom: 80px;
  }
}
