.product-promotion {
  padding: 15px 0;

  @include font-content(14px, 18px);
  color: $txt-main-color;
  background-color: $blocks-bg-color;
}

.product-promotion__text-content {
  padding: 0 19px;
  background-color: inherit;
}

.product-promotion__header {
  margin: 0;
  padding: 0;
  margin-bottom: 20px;

  @include font-header(36px, 60px);
  color: $txt-header-color;
  background-color: transparent;
}

.product-promotion__description {
  margin: 0;
  padding: 4px 1px 4px 0;
  margin-bottom: 22px;
}

.product-promotion__progress {
  width: 100%;
  margin-bottom: 20px;
  background-color: inherit;
}

.product-promotion__progress tbody{
  background-color: inherit;
}

.product-promotion__progress-value {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.product-promotion__progress-value td {
  width: 44.28%;
  padding: 17px 0;
  text-align: center;
  border: 1px solid $border-input-color;
  border-radius: 3px;

  @include font-header(24px, 24px);
  color: $txt-header-color;
  background-color: transparent;
}

.product-promotion__progress-header{
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-top: -7px;
  background-color: inherit;
}

.product-promotion__progress-header th {
  padding: 0 5.71%;
  margin: 0 5.71%;
  width: 31.78%;

  @include font-content(12px, 12px);
  color: $txt-main-color;
  background-color: inherit;
  font-style: normal;
  font-weight: normal;
}

.product-promotion__expense {
  margin: 0;
  margin-bottom: 35px;
  padding: 0 47px;
  text-transform: uppercase;

  @include font-header(14px, 20px);
  color: $txt-header-color;
  background-color: inherit;
}

.product-promotion__expense br,
.product-promotion__expense span{
  display: none;
}

.product-promotion__img {
  display: none;
  background-color: transparent;
  width: 311px;
  height: 232px;
}

.product-promotion__img.active {
  display: block;
  margin-bottom: 30px;
}

.product-promotion__img-toggle-block {
  margin: 0 0 23px 42px;
}

.product-promotion__img-toggle-caption {
  padding: 0 15px;

  @include font-header(16px, 20px);
  text-transform: uppercase;
}

.product-promotion__img-toggle {
  display: inline-block;
  position: relative;
  width: 84px;
  height: 14px;
  border: 1px solid #cdcdcd;
  border-radius: 6px;
  background-color: $main-bg-color;
  cursor: pointer;

  &::before {
    content: "";
    position: absolute;
    width: 35px;
    height: 6px;
    right: 4px;
    top: 3px;
    background-color: $banner-bg-color;
    border-radius: 6px;
  }
}

.product-promotion__img-toggle.before {
  &::before {
    left: 4px;
  }
}

@media (min-width: $tablet-width) {
  .product-promotion {
    @include font-content(16px, 24px);
    background-color: inherit;
  }

  .product-promotion__text-content {
    display: flex;
    flex-wrap: wrap;
    padding: 0 30px;
    margin-bottom: 221px;
    background-color: inherit;
  }

  .product-promotion__header {
    margin-bottom: 60px;

    @include font-header(60px, 60px);
  }

  .product-promotion__description {
    padding-right: 20px;
    margin-bottom: 56px;
  }

  .product-promotion__progress {
    width: 53%;
    margin-right: auto;
  }

  .product-promotion__progress-header th {
    padding: 0 2%;
    margin: 0 2%;
    width: 40%;

    @include font-content(14px, 14px);
  }

  .product-promotion__expense {
    margin: 0;
    padding: 0;
    padding-top: 13px;
    text-align: right;

    @include font-header(20px, 20px);
  }

  .product-promotion__expense br{
    display: block;
  }

  .product-promotion__example-images {
    padding: 369px 100px 68px 100px;
    position: relative;
    background-color: $blocks-bg-color;
  }

  .product-promotion__img {
    position: absolute;
    top: 0;
    transform: translate(-80px, -200px);
    width: 596px;
    height: 517px;
  }

  .product-promotion__img-toggle-block {
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin: 0;
  }

  .product-promotion__img-toggle-caption {
    padding: 0;
    padding-bottom: 6px;
    border-bottom: 1px dotted $border-hover-color;
  }

  .product-promotion__img-toggle {
    margin: 7px 21px;
    flex-grow: 1;
    height: 6px;
    background-color: $toogle-color;

    &::before {
      width: 34px;
      height: 34px;
      border-radius: 50%;
      background-color: $main-bg-color;
    }

    &::after {
      content: "";
      position: absolute;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background-color: $button-bg-color;
    }
  }

  .product-promotion__img-toggle.before {
    &::after,
    &::before{
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}

@media (min-width: $desktop-width) {
  .product-promotion {
    position: relative;
    display: flex;
    padding: 0 110px;
    background-color: $blocks-bg-color;
  }

  .product-promotion__expense br {
    //display: none;
  }

  .product-promotion__text-content {
    display: block;
    padding: 0;
    margin: 0;
    margin-right: 12%;
    padding-top: 70px;
    width: 36%;
  }

  .product-promotion__header {
    padding: 0;
    margin: 0;
    position: absolute;
    top: -135px;
  }

  .product-promotion__description {
    margin-bottom: 61px;
  }

  .product-promotion__progress {
    width: 82%;
  }

  .product-promotion__expense br {
    display: none;
  }

  .product-promotion__expense span{
    display: block;
  }

  .product-promotion__expense {
    width: 82%;
    display: flex;
    justify-content: space-between;
  }

  .product-promotion__example-images {
    width: 52%;
    padding: 369px 0 68px 45px;
    position: relative;
    background-color: $blocks-bg-color;
  }
}
