@mixin font-content($p-width: 14px, $p-line-height: 18px) {
  font-family: "Arial", "Verdana", sans-serif;
  font-size: $p-width;
  line-height: $p-line-height;
}

@mixin font-menu($p-width: 20px, $p-line-height: 20px) {
  font-family: "Oswald", "Impact", sans-serif;
  font-size: $p-width;
  line-height: $p-line-height;
  font-weight: 500;
}

@mixin font-header($p-width: 36px, $p-line-height: 36px) {
  font-family: "Oswald", "Impact", sans-serif;
  font-size: $p-width;
  line-height: $p-line-height;
  font-weight: 400;
}

@mixin container-mobile {
  width: $mobile-width;
  margin: 0 auto;
}

@mixin container-tablet {
  width: $tablet-width;
  margin: 0 auto;
}

@mixin container-desktop {
  width: $desktop-width-container;
  margin: 0 auto;
}
