@font-face {
  font-family: "Oswald";
  src: local("Oswald"),
    url("../fonts/oswaldregular.woff2") format("woff2"),
    url("../fonts/oswaldregular.woff") format("woff");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Oswald";
  src: local("Oswald Medium"),
    url("../fonts/oswaldmedium.woff2") format("woff2"),
    url("../fonts/oswaldmedium.woff") format("woff");
  font-weight: 500;
  font-display: swap;
}

@import "normalize.scss";
@import "variable.scss";
@import "mixins.scss";
@import "overall.scss";
@import "button.scss";
@import "header/page-header.scss";
@import "header/page-list.scss";
@import "main/page_main.scss";
@import "main/block-header.scss";
@import "main/banner-promotion.scss";
@import "main/our-programs.scss";
@import "main/program-card.scss";
@import "main/advantages.scss";
@import "main/product-promotion.scss";
@import "main/catalog.scss";
@import "main/product-card.scss";
@import "main/extra-card.scss";
@import "main/more-card.scss";
@import "main/banner-present.scss";
@import "main/form.scss";
@import "main/select.scss";
@import "footer/page-footer.scss";
@import "footer/contacts.scss";
@import "footer/social.scss";
@import "footer/developer.scss";

//Можно включить для точной проверки по точкам
//@import "pixel-size.scss";
