@font-face {
  font-family: "Oswald";
  src: local("Oswald"),
    url("../fonts/oswaldregular.woff2") format("woff2"),
    url("../fonts/oswaldregular.woff") format("woff");
  font-weight: 400;
}

@font-face {
  font-family: "Oswald";
  src: local("Oswald Medium"),
    url("../fonts/oswaldmedium.woff2") format("woff2"),
    url("../fonts/oswaldmedium.woff") format("woff");
  font-weight: 500;
}

@mixin font-content($p-width: 14px, $p-line-height: 18px) {
  font-family: "Arial", sans-serif;
  font-size: $p-width;
  line-height: $p-line-height;
}

@mixin font-menu($p-width: 20px, $p-line-height: 20px) {
  font-family: "Oswald", sans-serif;
  font-size: $p-width;
  line-height: $p-line-height;
  font-weight: 500;
}

@mixin font-header($p-width: 36px, $p-line-height: 36px) {
  font-family: "Oswald", sans-serif;
  font-size: $p-width;
  line-height: $p-line-height;
  font-weight: 400;
}

$main-bg-color: white;
$blocks-bg-color: #f2f2f2;
$banner-bg-color: #5eaa2f;
$button-bg-color: #68b738;
$txt-main-color: #444444;
$txt-header-color: black;
$txt-contr-color: white;
$txt-form-color: #222222;
$border-block-color: #ededed;
$border-input-color: #cdcdcd;

@mixin container-mobile {
  width: 320px;
  margin: 0 auto;
}
