$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1300px;
$retina-dppx: 1.5dppx;

$main-bg-color: white;
$blocks-bg-color: #f2f2f2;
$banner-bg-color: #5eaa2f;
$button-bg-color: #68b738;
$txt-main-color: #444444;
$txt-header-color: black;
$txt-contr-color: white;
$txt-form-color: #222222;
$border-block-color: #ededed;
$border-input-color: #cdcdcd;
$border-hover-color: #bababa;
$border-error-color: #ff8282;
$toogle-color: #dcdcdc;
$icon-color: #666666;
$icon-active-color: $button-bg-color;
