$button-color: #222222;

.page-header {
  padding-top: 11px;

  @include font-menu(20px, 22px);
  color: $txt-header-color;
  background-color: $main-bg-color;
}

.page-header__top {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0 20px;
  margin-bottom: 15px;
}

.page-header__logo {
  width: 191px;
  height: 39px;
  text-decoration: none;
  background-color: transparent;

  &:hover,
  &:focus {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.3;
  }
}

.page-header__menu-toggle {
  position: relative;
  width: 25px;
  height: 19px;
  margin-top: 1px;
  margin-bottom: 3px;
  border: none;
  border-top: 2px solid $button-color;
  border-bottom: 2px solid $button-color;
  color: transparent;
  background-color: transparent;
  cursor: pointer;

  &::after,
  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-1px);
    width: 100%;
    height: 2px;
    background-color: $button-color;
  }

  &--close {
    border: none;
  }

  &--close::after {
    transform: translateY(-1px) rotate(45deg);
  }

  &--close::before {
    transform: translateY(-1px) rotate(-45deg);
  }

  &.no-js {
    display: none;
  }
}

@media (min-width: $tablet-width) {
  .page-header {
    display: flex;
    padding: 24px 30px;
  }

  .page-header__top {
    padding: 0;
    margin: 0;
    margin-right: auto;
  }

  .page-header__logo {
    width: 174px;
    height: 59px;
    display: flex;
    align-items: center;
  }

  .page-header__menu-toggle {
    display: none;
  }

  .page-header__nav {
    padding-top: 10px;
  }
}

@media (min-width: $desktop-width) {
  .page-header {
    display: flex;
    padding: 53px 109px;
  }

  .page-header__top {
    margin: 0;
    width: 50%;
  }

  .page-header__logo {
    width: 203px;
    height: 60px;
  }

  .page-header__nav {
    width: 50%;
  }
}
