.page-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.page-list__item-link {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 22px 18px;
  border-bottom: 1px solid $border-block-color;
  text-decoration: none;
  text-transform: uppercase;

  @include font-menu(20px, 20px);
  color: $txt-header-color;
  background-color: $main-bg-color;

  &--active {
    border-bottom: 1px solid $button-bg-color;
    cursor: default;
  }

  &:not(&--active):hover,
  &:not(&--active):focus {
    opacity: 0.6;
  }

  &:not(&--active):active {
    opacity: 0.3;
  }
}

@media (min-width: $tablet-width) {
  .page-list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  .page-list__item-link {
    width: auto;
    padding: 9px 0;
    margin: 0 0 0 36px;

    @include font-header(18px, 25px);

    &:not(&--active) {
      border-bottom: none;
    }

    &--active {
      border-bottom: 2px solid $button-bg-color;
      cursor: default;
    }
  }
}
