.page-list{
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.page-list__item{
  min-width: 320px;
}

.page-list__item a{
  display: flex;
  justify-content: center;
  padding-top: 22px;
  padding-bottom: 22px;
  border-bottom: 1px solid $border-block-color;
  @include font-oswald-normal(20px, 20px);
  text-decoration: none;
  text-transform: uppercase;
  color: $txt-header-color;
  background-color: $main-bg-color;
}
